@font-face {
    font-family: "TT Hoves";
    src: url("../font/TTHoves-Thin.woff2") format("woff2");
    font-weight: 100;
}
@font-face {
    font-family: "TT Hoves";
    src: url("../font/TTHoves-Light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "TT Hoves";
    src: url("../font/TTHoves-Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "TT Hoves";
    src: url("../font/TTHoves-Medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "TT Hoves";
    src: url("../font//TTHoves-Bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "TT Hoves";
    src: url("../font/TTHoves-ExtraBold.woff2") format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: SF Pro Display;
    src: url("../font/SF-Pro-Display-Black.otf") format("opentype");
    font-weight: 900;
}